

<ion-content (swipe)="contentSwipe($event)" >

  <section class="top-cta" [@slide]="showAudioControls">
    <div class="left">
      <button small ion-button icon-only (click)="showBrightnessPanel= !showBrightnessPanel" color="light">
        <ion-icon name="md-bulb"></ion-icon>
      </button>
    </div>
    <div class="right">
      <button ion-button icon-only small (click)="goTo('AzkarofdayPage')" *ngIf="preferences?.showAzkarIcon" color="light">
        <ion-icon [name]="azkarIcon"></ion-icon>
      </button>
    </div>
  </section>
<section class="recital" (click)="surahClicked()">
  <img *ngIf="pageNum<3;else firstPages" src="https://hosam1696.github.io/Quran/img/{{pageNum|number:'3.'}}.jpg" alt="">
  <ng-template #firstPages>
    <div class="page-verses">
      <a *ngFor="let verse of verses;trackBy:trackByFn" [class.selected]="verse.selected" (click)="selectVerse(verse)">{{verse.verse}}
        <span >[{{verse.ayah}}]</span></a>
    </div>
  </ng-template>
  </section>
  <section class="cta">
    <button clear ion-button small icon-only [disabled]="pageNum<2" (click)="changePage(-1)">
      <ion-icon name="md-arrow-dropleft"></ion-icon>
    </button>

    <span>{{pageNum}}</span>
    <button clear ion-button small icon-only (click)="changePage(1)">
      <ion-icon name="md-arrow-dropright"></ion-icon>
    </button>
  </section>
<div class="cta-btns">
  <div class="close">
    <button [@show]="showAudioControls" ion-button small icon-only no-margin color="light" (click)="toggleAudioCtrl()">
      <ion-icon [name]="showAudioControls=='active'?'close':'ios-arrow-forward'"></ion-icon>
    </button>
  </div>
</div>
  <section class="audio-section" [@show]="showAudioControls">
    <div class="audio-alt" hidden>
      <div *ngIf="audio" [style.width]="_passedTime + '%'"></div>
      <p text-center>
        {{_passedTime}}
      </p>
    </div>
    <div class="rewind-btns">
      <button ion-button clear (click)="rewind(1)" [disabled]="!audio&&!audio?.played">
        <ion-icon name="rewind"></ion-icon>
      </button>
      <button ion-button clear>
        <ion-icon [name]="isOn?'pause':'play'" (click)="changePlayState()"></ion-icon>
      </button>
      <button ion-button clear (click)="rewind(-1)">
        <ion-icon name="rewind"></ion-icon>
      </button>
    </div>
    <div class="play-indicator"></div>
    <div class="reader">
      <div class="reader-info">
        <p>القارىء</p>
        <ion-select okText="{{'okText'|translate}}" cancelText="{{'cancelText'|translate}}" [ngModel]="selectedReader" (ngModelChange)="changeReader($event)">
          <!-- <ion-option *ngIf="selectedReader" [value]="selectedReader">{{selectedReader.Name}}</ion-option> -->
          <!-- [hidden]="reader == selectedReader" -->
          <ion-option *ngFor="let reader of allReaders" [value]="reader" >{{reader.Name}}</ion-option>
        </ion-select>
      </div>
    </div>
    
  </section>
<!-- top page idetifier for surah name and Juzaa Number -->
<div class="page-id-info">
  <span>{{currentSurahName}}</span>
  |
  <span>{{'Juz'|translate}} {{currentJuzName}}</span>
</div>
<control-brightness *ngIf="showBrightnessPanel" [brightness]="brightness" (onBrightChange)="brightChange($event)"></control-brightness>

</ion-content>
