page-recital {
  $border-width: 18px;
  .toolbar-content {
    display: flex;
  }
  ion-content {

    .scroll-content {
      padding: $border-width !important;
      background-color: $primary;;
    }
    .recital {
      overflow-y: scroll;
      width: 100%;
      height: 100%;
      padding: 10px;
      font-size: 16px;
      line-height: 1.8;
      text-align: justify;
      background-color: #E2FEDE;
      a {

      //font-family: 'UthmanicHafs', sans-serif;
        color: #222!important;
        padding: 6px;
        &.selected {
          background-color: #C4D9BF;
          color: #000 !important;
          border-radius: 0 4px  0 4px
        }
      }
    }
    .cta {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      background-color: #7FEDA1;
      box-shadow: inset 1px 1px #7FEDA1, inset -1px -1px #7FEDA1, inset 2px 2px #0e7879, inset -2px -2px #0e7879;
      span {
        width: 20px;
        text-align: center;
      }
      button {
        margin: 0 !important;
        height: 1.4em !important;
      }
    }
    .audio-section {
      position:  absolute;
      bottom: $border-width;
      width: calc(100vw - 36px);
      background-color: rgba(5, 125, 128, 0.92);
      left:$border-width;
      .rewind-btns {
        padding: 8px;
        display: flex;
        justify-content: space-around;
        button {
          color: #fff !important;
          /*&:first-of-type {
            transform: scale(-1);
          }*/
        }
      }
      .reader {
        padding: 12px;
        .reader-info {
          padding: 0 8px;
          justify-content: space-between;
          background-color: #fff;
          display: flex;
          border-radius: 5px;
          ion-select {
            position: relative;
            min-width: 50% !important;
          }
        }
      }
    }
  }

  ion-header {
    ion-navbar {
      ion-title {
        .toolbar-title-md {
          padding-right: 5px!important;
          transform: translateX(0);
        }
      }
    }
  }

}
