page-addwerd {
    .toolbar-content {
        display: flex;
      }
      .scroll-content {
        display: flex;
        align-items: center;
        justify-content: center
      }
      .page-content {
        width: 96%;
        background-color: #f2f2f2;
        padding: 8px
      }
    ion-content {
        &.content {
            background-color: #fff
        }
      input[type="radio"] {
        width: 0;
        height: 0;
      }
      .text-input-ios {
        margin: 11px 8px 11px 8px !important;
      }
      .text-input-ios {
        padding: 8px
      }
        ion-input, ion-textarea {
            background-color: #fff;
            margin-bottom: 10px;
            border: 1px solid #eee
        }
      .werd-type {
        display: flex;
        width: 100%;
        margin: 10px auto;
        justify-content: space-between;
        * {
          display: flex;
        }
        .type {
          flex: 1;
          align-items: center;
          padding: 4px;
    color: #555;
        }
        .user {
          //width: 48.5%;
          background-color: #fff;
          transition: background-color 0.25s cubic-bezier(0.19, 1, 0.22, 1);
          width: 60px;
          &.selected {
            background: $primary;
            p {
              color: #fff !important;
            }
            ion-icon {
              background-color: #053A4C;
            }
          }
          label {
            flex: 1;
            ion-icon {
              transition: background-color 0.25s linear;
              background-color: #B2B2B2;
              width: 25%;
              justify-content: center !important;
              color: #fff;
              align-items: center !important;
              font-size: 3rem
            }
            p {
              font-weight: bold;

              justify-content: center;
              padding: 10px 5px 10px;
              width: 100%;
              margin: 0;
              color: #b2b2b2 !important;
              direction: rtl;
              font-size: 15px
            }
          }
        }
      }

    }
}
