<ion-menu [content]="mycontent" side="left">
  <ion-content>
    <!-- Top navigation menu-->
    <div>
      <button icon-only ion-button menuClose clear>
        <ion-icon name="close"></ion-icon>
      </button>
    </div>
    <!-- Quran navigation -->
    <p text-center hidden>
      {{'moveTo'|translate}}
    </p>

    <ion-list class="quran-nav-list" no-padding hidden>
      <ion-item>
        <ion-label>{{'Juz'| translate}}</ion-label>
        <ion-select [ngModel]="juzNumber" (ngModelChange)="changePageBy($event,'Juz', juzNumber)" okText="{{'okText'|translate}}"
          cancelText="{{'cancelText'|translate}}">

          <ion-option *ngFor="let part of quranparts" [value]="part">{{part[2]}}</ion-option>

        </ion-select>
      </ion-item>

      <ion-item hidden>
        <ion-label>سورة</ion-label>
        <ion-select>
          <ion-option>1</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <!-- Navigation page list -->
    <ion-list>
      <ion-item *ngFor="let page of menuPages" (click)="navTo(page.component, {index: page.index})" [hidden]="(rootPage=='ExplainPage'&&page.component=='ExplainPage')||(rootPage=='RecitalPage'&&page.component=='RecitalPage')">


        <img [src]="'assets/icons/'+page.icon+'.png'">
        <span [class.small]="page.component == 'SalahtimesPage'||page.component=='DailyreadPage'">{{page.title|translate}}</span>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>
