page-home {
  ion-content {
    &.content {
      background-image: url(../assets/imgs/home-bg.jpg);
      background-size: cover;
    }
    ion-list {
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: center;
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      padding: 14px;
      button {
        box-shadow: none !important;
        border-radius: 28px !important;
        min-height: 80px;
        margin: 0.4rem !important;
        color: $primary !important;
        font-size: 1.2rem !important;
        img {
          padding-bottom: 4px;
        }
        .button-inner {
          flex-direction: column;
          ion-icon {
            font-size: 2rem;
            margin-bottom: 4px;
          }
          span {
            &.small {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}
