<ion-header no-lines>

  <ion-navbar color="light" hideBackButton>
    <ion-buttons start>
      <button ion-button clear>
        <ion-icon name="placeholder"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>{{'الفهرس'|translate}}</ion-title>
    <ion-buttons left>
      <button ion-button navPop icon-only>
        <ion-icon [name]="appLang=='ar'?'arrow-back':'arrow-forward'"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>



<ion-content no-padding>

  <!-- الاجزاء -->
  <ul *ngIf="activeList === 'parts'" [@partsState]="partsState">
    <li *ngFor="let item of partsNum;let i = index"

      (click)="changeList('parts')"
    >
      <div class="part-num">
        {{i+1}}
      </div>
      <div class="part-id">
        الجزء {{partName(i)}}
      </div>
      <div class="part-num">
        {{i+1}}
      </div>
    </li>
  </ul>
  <!--السور-->
  <ul *ngIf="activeList === 'surah'" [@partsState]="partsState">

    <li *ngFor="let item of surahNum;let i = index" (click)="changeList('surah')" >
      <div class="part-num">
        {{i+1}}
      </div>
      <div class="part-id surah-id">
       <span class="surah-name" [innerHTML]="i?'البقرة':'الفاتحة'"></span>
        <span class="ayat-num">
          7 ايات
        </span>
        <span class="surah-loc">
           <ion-icon name="home"></ion-icon>
        </span>
      </div>
      <div class="part-num">
        {{i+1}}
      </div>
    </li>
  </ul>
  <!--الايات-->
  <ul *ngIf="activeList === 'ayah'" [@partsState]="partsState">
    <li *ngFor="let item of partsNum;let i = index" (click)="changeList('ayah')" >
      <div class="part-num">
        {{i+1}}
      </div>
      <div class="part-id">
        اية
      </div>
      <div class="part-num">
        {{i+1}}
      </div>
    </li>
  </ul>
</ion-content>
