page-settings {
    ion-content {
        * {
            font-size: 11px
        }
      .button-inner {
        position: relative;
      }
      .select-text {
        padding: 3px 10px;
      }
        ion-list {
            ion-item-divider {
                font-weight: bold;
                text-align: center
            }
          ion-item {
            ion-label {
              color: #555 !important
            }
            &.lang {
              ion-label {
                &:first-of-type {
                  max-width: 40%;
                }
                &.lang-btns {
                  margin: 0;
                  display: flex;
                  justify-content: space-between;

                }
                button {
                  box-shadow: none !important;
                  color: $primary !important;
                  //max-width: 50% !important;
                  margin: 0 !important;border: 1px solid $primary;
                  &.selected {
                    border: 2px solid $primary !important;
                    background-color: $primary;
                    color: #fff !important;
                  }
                }
              }
            }

          }
        }
    }
}
