<ion-header no-lines>

  <ion-navbar color="light" hideBackButton>
    <ion-buttons start>
      <button ion-button clear>
        <ion-icon name="placeholder"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>{{'الاعدادات'|translate}}</ion-title>
    <ion-buttons left>
      <button ion-button navPop icon-only>
        <ion-icon [name]="settings.lang=='ar'?'arrow-back':'arrow-forward'"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-list>
    <ion-item-divider>
      {{'الاشعارات'| translate}}
    </ion-item-divider>
    <ion-item>
      <ion-label>
        {{'dailywerdNotification'|translate}}
      </ion-label>
      <ion-toggle [(ngModel)]="settings.werdNotifications"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="settings.werdNotifications">
      <ion-label>
        {{'numOfPages'|translate}}
      </ion-label>
      <ion-select [ngModel]="settings.partsNumber" (ngModelChange)="changePartsNumber($event)" okText="{{'okText'|translate}}"
        cancelText="{{'cancelText'|translate}}">

        <ion-option selected value="1">1</ion-option>
        <ion-option value="2">2</ion-option>
        <ion-option value="3">3</ion-option>
        <ion-option value="3">4</ion-option>
        <!-- <ion-option value="a-1">حزب</ion-option>
        <ion-option value="a-2">حزبان</ion-option>
        <ion-option value="b-1">جزء</ion-option>
        <ion-option value="b-2">جزئان</ion-option> -->
      </ion-select>
    </ion-item>
    <ion-item *ngIf="settings.werdNotifications">

      <ion-label>{{'notifyTime'|translate}}</ion-label>

      <ion-select okText="{{'okText'|translate}}" cancelText="{{'cancelText'|translate}}">
        <ion-option value="hour-24" selected>يوم</ion-option>
        <ion-option value="salah">فرض</ion-option>
        <ion-option value="hour-2"> ساعتان</ion-option>
        <ion-option value="hour-4"> 4 ساعات</ion-option>
        <ion-option value="hour-6"> 6 ساعات</ion-option>
        <ion-option value="hour-8"> 8 ساعات</ion-option>
        <ion-option value="hour-12">12 ساعة</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>
        {{'salahTimeNotification'|translate}}
      </ion-label>
      <ion-toggle [(ngModel)]="settings.prayNotifications"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>
        {{'التفسير' | translate}}
      </ion-label>
      <ion-select [ngModel]="configProvider.defaultTafseerName" (ngModelChange)="changeTafseer($event)" okText="{{'okText'|translate}}"
        cancelText="{{'cancelText'|translate}}">
        <ion-option *ngFor="let tafseer of configProvider.availableTafssers" [value]="tafseer.resource_name">{{tafseer.name|translate}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>{{'showAzkarsIcon'|translate}}</ion-label>

      <ion-toggle [ngModel]="settings.showAzkarIcon" (ngModelChange)="changeVisibilityAzkarIcon($event)"></ion-toggle>
    </ion-item>

    <ion-item class="lang">
      <ion-label>{{'اللغة' | translate}}</ion-label>
      <ion-label class="lang-btns">
        <button ion-button small round color="light" [class.selected]="settings.lang =='ar'" (click)="changeLang('ar')"> العربية</button>
        <button ion-button small round color="light" [class.selected]="settings.lang =='en'" (click)="changeLang('en')"> English</button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
