// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
* {
  //TODO: get ayat font hafs,"Times","Traditional Arabic",Arial;
  font-family: 'jf-flat-regular', sans-serif
}

$primary: color($colors, primary);

.range-bar {

  transform: translateX(10px);

}
/*selector {
  // Include directional properties via mixins
  @include padding(0, 10px, null, 5px);

  // Direction agnostic styles go here
  background-color: black;

  @include ltr() {
    // Custom ltr styles go here
    order: 1;
  }

  @include rtl() {
    // Custom rtl styles go here
    order: -1;
  }
}*/

ion-header {
  ion-navbar {
    ion-title {
      .toolbar-title-md {
        padding-right: 0 !important;
        //transform: translateX(20px);
        color: $primary !important;
      }
    }
  }
  &::after {
    background-image: none !important;
  }
}

ion-list {
  ion-item {
    border-top: none !important;
    border-bottom: none !important;
  }
}
