
<ion-header no-lines>

    <ion-navbar color="light" hideBackButton>
      <ion-buttons start>
        <button ion-button clear>
          <ion-icon name="placeholder"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title text-center>{{'البحث'|translate}}</ion-title>
      <ion-buttons left>
        <button ion-button navPop icon-only>
          <ion-icon [name]="appLang=='ar'?'arrow-back':'arrow-forward'"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
    <ion-toolbar>
        <ion-searchbar [(ngModel)]="searchText" dir="rtl" showCancelButton="false" (ionInput)="search()" animates="true" placeholder="ابحث" type="search" (ionClear)="onSearchClear()"></ion-searchbar>

      </ion-toolbar>

  </ion-header>

<ion-content no-padding>

  <p text-center *ngIf="loader">
    <ion-spinner></ion-spinner>
  </p>
  <p *ngIf="matched.length<1&&!loader" text-center>
    {{'searchQuranText' | translate}}
  </p>
  <ion-list *ngIf="matched.length>0">
    <div class="result-num">
      <span>{{'numOfResults'| translate}}</span>
      <ion-badge color="light">{{matchCount}}</ion-badge>
    </div>
    <ion-item *ngFor="let match of matched">
      <p class="surah-name">{{match.surahName}}</p>
      <p class="surah-search" [innerHTML]="match.text"></p>
      <p class="surah-page"><ion-icon name="md-book"></ion-icon>{{match.ayahNumber}}</p>
    </ion-item>
  </ion-list>
</ion-content>
