page-upreference {
    ion-content {
    .scroll-content {
        background-image: url(../assets/imgs/home-bg.jpg);
        background-size: cover;
    }
    .scroll-content {
        display: flex;
        align-content: space-between;
        flex-direction: column;
        justify-content: space-between;
    }
    .hadith {
        background-color: rgba(255,255,255, 0.95);
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 12px;
    }
    .parts-num {
        p {
            font-size: 18px;
            color: #fff;
            text-shadow: 1px 1px $primary;
        }
        .parts-btns {
            display: grid;
            grid-template-columns: 12fr;
        }
    }
    }
}
