<ion-header no-lines>

    <ion-navbar color="light" hideBackButton>
      <ion-buttons start>
        <button ion-button clear>
          <ion-icon name="placeholder"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title text-center>{{'الورد اليومى'|translate}}</ion-title>
      <ion-buttons left>
        <button ion-button navPop icon-only>
          <ion-icon [name]="appLang=='ar'?'arrow-back':'arrow-forward'"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>

  </ion-header>

<ion-content padding-horizontal>
  <ion-segment margin-bottom [(ngModel)]="dailyReadCategory">
    <ion-segment-button value="private">
      {{"خاص"|translate}}
    </ion-segment-button>

    <ion-segment-button value="static">
      {{"عام"|translate}}
    </ion-segment-button>
  </ion-segment>
  <ng-template [ngIf]="dailyReadCategory === 'static'">

    <ion-list *ngIf="staticDailyWerds&&staticDailyWerds.length">

      <ion-item margin-bottom *ngFor="let werd of staticDailyWerds">
        <div class="name">
          <span>{{werd.name}}</span>
          <button [hidden]="werd.type=='doaa'" (click)="werd.opened = !werd.opened" ion-button clear icon-only small>
            <ion-icon name="ios-arrow-down"></ion-icon>
          </button>
        </div>
        <div class="ayah" *ngIf="werd.type=='ayah'" [hidden]="!werd.opened" [@werdstatus]="!werd.opened">
          <p>{{werd.text}}</p>
          <!--<p>اللَّهُ لاَ إِلَٰهَ إِلاَّ هُوَ الْحَيُّ الْقَيُّومُ لاَ تَأْخُذُهُ سِنَةٌ وَلاَ نَوْمٌ لَّهُ مَا فِي السَّمَاوَاتِ وَمَا فِي الأَرْضِ مَن ذَا الَّذِي يَشْفَعُ عِنْدَهُ إِلاَّ بِإِذْنِهِ يَعْلَمُ مَا بَيْنَ أَيْدِيهِمْ وَمَا خَلْفَهُمْ وَلاَ يُحِيطُونَ بِشَيْءٍ مِّنْ عِلْمِهِ إِلاَّ بِمَا شَاء وَسِعَ كُرْسِيُّهُ السَّمَاوَاتِ وَالأَرْضَ وَلاَ يَؤُودُهُ حِفْظُهُمَا وَهُوَ الْعَلِيُّ الْعَظِيمُ</p>-->
        </div>
      </ion-item>
    </ion-list>
  </ng-template>
  <ng-template [ngIf]="dailyReadCategory === 'private'">

    <ion-list *ngIf="userDailyRead&&userDailyRead.length>0">
      <ion-item *ngFor="let werd of userDailyRead">
        <div class="name">
          <span>قراءة {{werd.partsNumber}} من القراءن</span>
          <button  ion-button  (click)="goToQuran(werd.location.page, werd)">
            صفحة {{werd.location.page}}
          </button>
        </div>
        <div class="ayah">
          <p>{{werd.location.verse}}</p>
        </div>
        <div class="ayah-info">
          <div class="info-container">
            <p>
              <label >من</label>
              <span class="ayah-number">
                اية
                {{werd.location?.from[1]}}
              </span>
              <span class="surah-name">
                سورة

                {{werd.location?.from[2]}}
              </span>

            </p>
            <p>
              <label>الى</label>
              <span class="ayah-number">
                اية

                {{werd.location?.to[1]}}
              </span>
              <span class="surah-name">
                سورة

                {{werd.location?.to[2]}}
              </span>

            </p>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="privateDailyRead&&privateDailyRead.length;else noprivateread">
      <ion-item margin-bottom *ngFor="let werd of privateDailyRead">
        <div class="name">
          <span>{{werd.name}}</span>
          <button [hidden]="werd.type=='doaa'" (click)="werd.opened = !werd.opened" ion-button clear icon-only small>
            <ion-icon name="ios-arrow-down"></ion-icon>
          </button>
        </div>
        <div class="ayah" *ngIf="werd.type=='ayah'" [hidden]="!werd.opened">
          <p>{{werd.text}}</p>
          <!--<p>اللَّهُ لاَ إِلَٰهَ إِلاَّ هُوَ الْحَيُّ الْقَيُّومُ لاَ تَأْخُذُهُ سِنَةٌ وَلاَ نَوْمٌ لَّهُ مَا فِي السَّمَاوَاتِ وَمَا فِي الأَرْضِ مَن ذَا الَّذِي يَشْفَعُ عِنْدَهُ إِلاَّ بِإِذْنِهِ يَعْلَمُ مَا بَيْنَ أَيْدِيهِمْ وَمَا خَلْفَهُمْ وَلاَ يُحِيطُونَ بِشَيْءٍ مِّنْ عِلْمِهِ إِلاَّ بِمَا شَاء وَسِعَ كُرْسِيُّهُ السَّمَاوَاتِ وَالأَرْضَ وَلاَ يَؤُودُهُ حِفْظُهُمَا وَهُوَ الْعَلِيُّ الْعَظِيمُ</p>-->
        </div>
        <p class="close" *ngIf="werd.type=='doaa'||(werd.type=='ayah'&&werd.opened)" (click)="removeWerd(werd)">
          مسح
        </p>
      </ion-item>

    </ion-list>
<!-- [style.height]="privateDailyRead&&!privateDailyRead.length?'100%':'10vh'"-->
    <section  class="no-read" >
      <ng-template #noprivateread>
        <br>
        <p text-center >
          قم باضافة ورد يومى خاص بك</p>

      </ng-template>
      <p text-center>
        <button no-margin small round icon-only ion-button (click)="addWerd()">
          <ion-icon name="add"></ion-icon>
        </button>
      </p>
    </section>
  </ng-template>
</ion-content>
